body, html {
    margin: 0;
    padding: 0;
    font-family: 'montserrat', sans-serif;
    height: 100vh;  /* Altura total da viewport */
    overflow: hidden; /* Esconde qualquer conteúdo que ultrapasse a altura da viewport */
}

.container {
    display: flex;
    height: 100vh;
}

.side-panel {
    background: #2CABAA;
    color: #FFF;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 20px;
}

.title {
    text-align: center;
    font-size: 42px;
    font-weight: normal;
    padding: 0 20px;
    line-height: 1;
    margin-bottom: 100px;
}

.description {
    text-align: center;
    font-size: 18px;
    margin: 20px;
    padding: 0 40px;
    line-height: 1.6;
}

.logo {
    width: 250px;
    margin-top: 50px;
}

.redefinir-panel {
    background: #FFF;
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    padding-top: 12vh;
}

.redefinir-panel h2 {
    color: #2CABAA;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 5px;
}

.redefinir-panel p {
    font-size: 18px;
    color: #2CABAA;
    margin-bottom: 20px;
    margin-top: 5px;
}

.redefinir-panel form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.input-container {
    display: flex;
    align-items: center;
    width: 508px;
    height: 60px;
    background: #E1E0E0;;
    border-radius: 12px;
    padding: 0 10px;
    margin: 10px 0;
}

.input-container:first-of-type {
    margin-top: 90px;
}

.input-container + .input-container {
    margin-top: 20px;
}

.input-container svg {
    margin-right: 10px;
}

.redefinir-panel input {
    font-family: Montserrat;
    color: #B3B3B3; /* Cor do placeholder */
    width: 100%;
    height: 100%;
    border: none;
    background: transparent;
    font-size: 20px;
    padding: 10px;
    outline: none; /* Remove o quadrado ao redor do input */
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.input-container input:focus {
    background: transparent; /* Mantém o fundo transparente ao focar */
    color: #B3B3B3; /* Cor do texto */
}

.redefinir-panel button {
    width: 237px;
    height: 60px;
    border-radius: 12px;
    background: #2CABAA;
    color: #FFF;
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border: none;
    cursor: pointer;
    margin-top: 60px; /* Aumentei a margem */
    text-align: center;
}

.redefinir-panel a {
    color: #2CABAA;
    text-decoration: none;
    margin-top: 60px;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}

.redefinir-panel .click-here {
    text-decoration: underline;
    position: relative;
}

.redefinir-panel .click-here::after {
    display: none;
}

.alert-message {
    background-color: #FFFFFF; /* Fundo branco */
    color: #2CABAA; /* Cor do texto */
    border-radius: 8px;
    padding: 10px;
    width: 508px;
    display: none; /* Inicialmente escondido */
    text-align: center;
    font-size: 16px;
    position: absolute; /* Define posição absoluta */
    top: 55%; /* Ajusta a posição logo abaixo do input de senha */
}

.form-container {
    position: relative; /* Necessário para o position absoluto do alerta */
}
