* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, body {
    height: 100%; /* Garante que a altura do body ocupe 100% da tela */
    overflow: hidden; /* Remove o scroll da tela */
}

.header {
    background-color: #2CABAA;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    color: white;
}

.logo img {
    width: 150px;
    height: auto;
}

.user-info {
    position: relative;
}

.user-info p {
    font-size: 18px;
    margin-right: 10px;
}

.menu-icon {
    cursor: pointer;
    margin-left: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px; /* Espaço para o título */
    max-width: 100%;
    height: calc(100vh - 60px); /* Ajusta para a altura total da viewport, considerando o header */
    box-sizing: border-box;
}

#grafico-pressao {
    width: 100%; /* Aumenta a largura para ocupar mais espaço */
    max-width: 1600px; /* Permite uma largura maior */
    height: 70vh; /* Define a altura do gráfico com base na altura da viewport */
    max-height: 92%; /* Limita a altura máxima */
}


.title {
    color: #2CABAA;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0; /* Remove margens extras */
    padding-bottom: 20px; /* Espaço entre o título e o gráfico */
    width: 100%; /* Faz com que o título ocupe toda a largura disponível */
}

.menu-dropdown {
    display: none;
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 184px;
}

.menu-dropdown ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
}

.menu-dropdown ul li {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
}

.menu-dropdown ul li span {
    margin-right: 10px;
}

.menu-dropdown ul li:hover {
    background-color: #f5f5f5;
}

.profile-icon,
.logout-icon {
    width: 30px;
    height: 30px;
    display: inline-block;
}

.meu-perfil,
.sair {
    color: #161F48;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.month-navigation {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 10px; /* Espaçamento entre a navegação e o gráfico */
    width: 100%;
}

#prev-month,
#next-month {
    background: none;
    border: none;
    cursor: pointer;
    margin: 0 5px; /* Espaçamento entre as setas e o texto do mês */
}

#current-month {
    color: #161F48;
    font-family: 'Montserrat', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

