* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html, body {
    width: 100%;
    overflow-x: hidden;
}

.header {
    background-color: #2CABAA;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    color: white;
}

.logo img {
    width: 150px;
    height: auto;
}

.user-info {
    position: relative;
}

.user-info p {
    font-size: 18px;
    margin-right: 10px;
}

.menu-icon {
    cursor: pointer;
    margin-left: 10px;
}

.menu-dropdown {
    display: none;
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 184px;
}

.menu-dropdown ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
}

.menu-dropdown ul li {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
}

.menu-dropdown ul li span {
    margin-right: 10px;
}

.menu-dropdown ul li:hover {
    background-color: #f5f5f5;
}

.profile-icon,
.logout-icon {
    width: 30px;
    height: 30px;
    display: inline-block;
}

.meu-perfil,
.sair {
    color: #161F48;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
}
.arrow-left, .arrow-right {
    font-size: 24px;
    color: #2CABAA;
    background-color: transparent; /* Remove o fundo */
    border: none;
    cursor: pointer;
    user-select: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.arrow-left {
    left: -30px; /* Ajuste a distância da seta esquerda */
}

.arrow-right {
    right: -30px; /* Ajuste a distância da seta direita */
}

.chart-section {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: center;
    position: relative;
}

.chart-section canvas {
    width: 100%;
    height: 400px;
}
.title {
    color: #2CABAA;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 40px;
}
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1 {
    color: #2CABAA;
    margin: 30px;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 90%;
    max-width: 1100px;
    margin: 10px;
}

.chart-section {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
    display: flex;
    justify-content: center;
}

.chart-section canvas {
    width: 100%;
    height: auto;
}

.input-section {
    display: flex;
    gap: 10px;
    justify-content: center;
    width: 100%;
    max-width: 800px;
}

.input-section input[type="text"] {
    padding: 15px;
    flex: 1;
    font-size: 16px;
    background-color: #E0E0E0;
    border: none;
    border-radius: 5px;
    color: #9E9E9E;
    text-align: center;
    transition: background-color 0.3s ease;
}

.input-section input[type="text"]:focus {
    background-color: #d4d4d4;
    outline: none;
}

.save-button {
    margin-top: 5px;
    padding: 15px 30px;
    font-size: 16px;
    background-color: #2CABAA;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease, background-color 0.3s ease;
}

.save-button:hover {
    background-color: #249994;
    transform: scale(1.05);
}

.save-button.clicked {
    animation: buttonClick 0.3s ease;
}

@keyframes buttonClick {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.9);
    }
    100% {
        transform: scale(1);
    }
}