* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

html, body {
    width: 100%;
    overflow-x: hidden; /* Remove o scroll horizontal */
}

.header {
    background-color: #2CABAA;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    color: white;
}

.logo img {
    width: 150px;
    height: auto;
}

.user-info {
    position: relative;
}

.user-info p {
    font-size: 18px;
    margin-right: 10px;
}

.menu-icon {
    cursor: pointer;
    margin-left: 10px;
}

.menu-dropdown {
    display: none;
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 184px;
}

.menu-dropdown ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
}

.menu-dropdown ul li {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
}

.menu-dropdown ul li span {
    margin-right: 10px;
}

.menu-dropdown ul li:hover {
    background-color: #f5f5f5;
}

.profile-icon,
.logout-icon {
    width: 30px;
    height: 30px;
    display: inline-block;
}

.meu-perfil,
.sair {
    color: #161F48;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

main {
    text-align: center;
}

h1 {
    color: #2CABAA;
    margin: 20px 0;
    margin-top: 50px;
}

.search-bar {
    margin: 20px 0;
    margin-top: 50px;
}

.search-bar input[type="text"] {
    padding: 10px;
    width: 60%;
    max-width: 500px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 15px;
}

.search-bar button {
    padding: 10px 20px;
    font-size: 15px;
    background-color: #2CABAA;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.exams-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin: 20px 20px;
}

.exam-card {
    background-color: #e0eafc;
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}

.exam-card:hover {
    background-color: #cdddf8;
}

.input-fields {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 20px 0;
}

.input-fields input[type="text"],
.input-fields input[type="file"] {
    padding: 10px;
    width: 350px;
    font-size: 15px;
    margin-top: 50px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.save-button {
    padding: 15px 30px;
    font-size: 15px;
    background-color: #2CABAA;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}