* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

html, body {
    width: 100%;
    overflow-x: hidden; /* Remove o scroll horizontal */
}

.header {
    background-color: #2CABAA;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    color: white;
}

.logo img {
    width: 150px;
    height: auto;
}

.user-info {
    position: relative;
}

.user-info p {
    font-size: 18px;
    margin-right: 10px;
}

.menu-icon {
    cursor: pointer;
    margin-left: 10px;
}

.menu-dropdown {
    display: none;
    position: absolute;
    top: 50px;
    right: 10px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: 184px;
}

.menu-dropdown ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
}

.menu-dropdown ul li {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    color: #333;
}

.menu-dropdown ul li span {
    margin-right: 10px;
}

.menu-dropdown ul li:hover {
    background-color: #f5f5f5;
}

.profile-icon,
.logout-icon {
    width: 30px;
    height: 30px;
    display: inline-block;
}

.meu-perfil,
.sair {
    color: #161F48;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

/* Estilo do título */
.title {
    color: #2CABAA;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 40px; /* Distância do header */
}

/* Layout da área de conteúdo */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    padding-bottom: 40px; /* Margem inferior adicionada */
    max-width: 100%; /* Garante que o conteúdo não exceda a largura da tela */
}

.left-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Garante que a imagem fique à esquerda */
    margin-right: 20px; /* Espaço entre a imagem e o gráfico */
}

.dicas-imagem {
    width: 747px; /* Tamanho da imagem especificado */
    height: 281px;
    flex-shrink: 0;
    margin-top: 20px; /* Move a imagem mais para baixo */
}

/* Estilo do input */
.input-container {
    display: flex;
    justify-content: center;
    gap: 20px; /* Espaçamento entre os inputs */
    margin-top: 80px; /* Aumenta o espaçamento para empurrar os inputs para baixo */
}

#input-pressao-sistolica,
#input-pressao-diastolica {
    width: 300px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

/* Estilo do gráfico */
.right-content img {
    width: 450px;
    height: auto;
}

/* Margem inferior para ajustar a distância do final da tela */
body {
    padding-bottom: 50px;
}

.right-content {
    margin-right: 40px; /* Adiciona um espaço à direita do gráfico */
    max-width: 100%;
}

#grafico-pressao {
    width: 600px;
    height: 400px;
}
